window#waybar {
    background: transparent;
}

#workspaces button,
#network,
#clock {
  margin: 4px;
  background-color: @base01;
  border-radius: 10px;
  min-width: 30px;
  min-height: 30px;
  padding: 2px;
  transition: background-color 0.15s ease-in-out;
}

#workspaces button label {
  font-size: 25px;
}

#network,
#clock {
  font-size: 20px;
}

#workspaces button.focused {
  background-color: @base0D;
  color: @base01;
}

#workspaces button:hover,
#network:hover,
#clock:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.1);
}

