* {
    font-family: "Ubuntu Nerd Font";
}

window#waybar {
    background: transparent;
    padding: 10px 10px;
}

#workspaces button,
#network,
#clock {
  background-color: @base01;
  margin: 4px;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
}

#workspaces button label {
  font-size: 20px;
}

/* window#waybar need to be here in order to override some stylix defaults */
window#waybar #workspaces button.focused {
  background-color: @base0D;
  color: @base01;
  border: none;
  box-shadow: none;
}

#workspaces button:hover,
#network:hover,
#clock:hover {
  box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.1);
}

